html, body {
    height: 100%;
}

img {
    max-width: 100%;
}


.row {
    height: inherit;
}

.sec-content {
    padding: 8rem 0rem;
    overflow: hidden;
}

footer {
  background: #262F36;
  color: white;
  padding: 3rem 0;
  font-size: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}